<div id="footer">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center" color="light">
        <h2>Pedro S. Vicente
        </h2>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <a href="https://github.com/sousa-p" target="_blank" rel="noopener noreferrer">
        <ion-icon size="large" color="light" name="logo-github"></ion-icon>
      </a>
    </ion-col>
    <ion-col size="auto">
      <a href="https://www.linkedin.com/in/sousa-p" target="_blank" rel="noopener noreferrer">
        <ion-icon size="large" color="light" name="logo-linkedin"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
</div>