<div class="section" id="about">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center ">
        <h1 class="bounce-d">About</h1>
      </ion-text>
      <ion-row class="ion-justify-content-between">
        <ion-col sizeLg="5" size="12" class="content">
          <ion-text class="ion-text-center">
            <h2><ion-icon class="shake" name="book-outline"></ion-icon> Learning Journey <ion-icon class="shake"
                name="book-outline"></ion-icon>
            </h2>
          </ion-text>
          <ion-text class="ion-text text-2">
            <p>
              I'm a Systems Development technician at Etec Sales Gomes, where I've gained a solid foundation,
              particularly in Web Development. I am consistently seeking to broaden my skills through various courses
              and videos, valuing continual personal and professional growth by learning from each experience.
            </p>
          </ion-text>
        </ion-col>
        <div class="ion-hide-lg-down" id="line"></div>
        <ion-col sizeLg="5" size="12" class="content">
          <ion-text class="ion-text-center">
            <h2><ion-icon class="shake" name="people-outline"></ion-icon> Open to Collaborations! <ion-icon
                class="shake" name="people-outline"></ion-icon></h2>
          </ion-text>
          <ion-text class="text-2">
            <p>
              With a solid background in development and a thirst for knowledge, I am open to new projects and
              partnerships. I welcome any opportunity that might come my way and encourage others to reach out to me for
              collaboration or project ideas.
              <br /><br />

              <b>Feel free to reach out to me!</b>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>