<div class="section" id="about">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1>About</h1>
      </ion-text>
      <ion-row class="ion-justify-content-between">
        <ion-col sizeMd="5" size="12" class="content">
          <ion-text class="ion-text-center">
            <h2>Awesome text</h2>
          </ion-text>
          <ion-text class="ion-text-center text-2">
            <p>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Dui id ornare arcu odio
              ut.
              Consectetur a erat nam at. Scelerisque mauris pellentesq.
            </p>
          </ion-text>
        </ion-col>
        <div class="ion-hide-md-down" id="line"></div>
        <ion-col sizeMd="5" size="12" class="content">
          <ion-text class="ion-text-center">
            <h2>Awesome text</h2>
          </ion-text>
          <ion-text class="ion-text-center text-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus aenean vel elit. Dui id ornare arcu odio
              ut.
              Consectetur a erat nam at. Scelerisque mauris pellentesq.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>