h1 {
  margin-bottom: 7vh;
}


.card {
  margin-bottom: 32px;
  border: solid 6px var(--ion-color-primary);
  ;
  height: 430px;
  min-width: 240px;
  transition: .3s all ease;

  &:hover {
    transform: scale(1.1);
  }
}