h1 {
  margin-bottom: 7vh;
}


.card {
  margin-bottom: 32px;
  border: solid 6px #000;
  height: 400px;
  min-width: 240px;
  min-height: 75vh;
  transition: .3s all ease;

  &:hover {
    transform: scale(1.1);
  }
}