h1 {
  margin-bottom: 7vh;
}


.card {
  margin: 0 auto 32px auto;
  border: solid 6px var(--ion-color-primary);
  min-height: max-content;
  height: 580px;
  min-width: 240px;
  transition: .3s all ease;

  &:hover {
    transform: scale(1.1);
  }
}

li {
  list-style: none;
}
