<div class="section" id="tech">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1 class="bounce">Tech.</h1>
      </ion-text>

      <ion-row class="ion-justify-content-between">
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Frontend</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>TypeScript</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Angular</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Ionic</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Vue.js</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Flutter</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Others...</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Backend</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>PHP</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Laravel</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Lumen</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>MySQL</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>RESTfulAPI</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Others...</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Tools</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>Git</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Github</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Figma</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Photoshop</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Docker</p>
              </ion-text>
            </li>
            <li>
              <ion-text class="text-2">
                <p>Others...</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
