<div class="section" id="tech">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1>Tech.</h1>
      </ion-text>

      <ion-row class="ion-justify-content-between">
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Frontend</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>Awesome text</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Backend</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>Awesome text</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Tools</p>
          </ion-text>
          <ul>
            <li>
              <ion-text class="text-2">
                <p>Awesome text</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>