<div class="section" id="tech">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1 class="bounce-d">Tech.</h1>
      </ion-text>
      <ion-row class="ion-justify-content-between">
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Frontend <ion-icon name="brush-outline"></ion-icon></p>
          </ion-text>
          <ul>
            <li *ngFor="let stack of this.frontEndStacks">
              <ion-text class="text-2">
                <p>{{ stack }}</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Backend <ion-icon name="server-outline"></ion-icon></p>
          </ion-text>
          <ul>
            <li *ngFor="let stack of this.backEndStacks">
              <ion-text class="text-2">
                <p>{{ stack }}</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
        <ion-col class="card" sizeLg="3.75" size="12">
          <ion-text class="ion-text-center text-1">
            <p>Tools <ion-icon name="construct-outline"></ion-icon></p>
          </ion-text>
          <ul>
            <li *ngFor="let tool of this.tools">
              <ion-text class="text-2">
                <p>{{ tool }}</p>
              </ion-text>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>