<div class="section" id="projects">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1>Projects</h1>
      </ion-text>
      <div class="swiper-container" #swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </ion-col>
  </ion-row>
</div>