h1 {
  margin-bottom: 7vh;
}

.slide {
  margin: 0 auto;
  min-height: 500px;
  background: var(--ion-background-color, #fff);

  &__image {
    width: 480px;
    height: 480px;
    margin: 0 auto;

    border: 6px solid #000;
  }

  .stack {
    margin-right: 16px;
  }

  ion-button {
    --border-radius: 0;
    --padding-top: 16px;
    --padding-bottom: 16px;

    margin-right: 16px;
  }

}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 32px;
  border-radius: 100%;
  color: var(--ion-color-primary);
}

.swiper-container {
  --swiper-pagination-color: var(--ion-color-primary);
}

@media (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
