<div class="section" id="projects">
  <ion-row class="ion-justify-content-center">
    <ion-col class="main" size="10">
      <ion-text class="ion-text-center">
        <h1 class="bounce-d">Projects</h1>
      </ion-text>
      <div class="swiper-container" #swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ion-row class="ion-justify-content-around ion-align-tems-center slide">
              <ion-col sizeLg="5" size="12">
                <ion-img class="slide__image" src="../../../assets/images/projects/bottom-wave.svg"></ion-img>
              </ion-col>
              <ion-col sizeLg="4.25" size="12">
                <ion-text class="ion-text-center">
                  <h2> Project Name</h2>
                </ion-text>

                <ion-text class="ion-text text-2 ion-margin-vertical">
                  <p>
                    I'm a Systems Development technician at Etec Sales Gomes, where I've gained a solid foundation,
                    particularly in Web Development. I am consistently seeking to broaden my skills through various
                    courses
                    and videos, valuing continual personal and professional growth by learning from each experience.
                  </p>
                </ion-text>

                <ion-row class="stacks ion-margin-vertical">
                  <ion-icon name="logo-angular"></ion-icon>
                  <ion-icon name="logo-javascript"></ion-icon>
                </ion-row>
                <ion-row class="ion-margin-vertical">
                  <ion-button>
                    View Site
                  </ion-button>
                  <ion-button>
                    View Code
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
          <div class="swiper-slide">
            <ion-row class="ion-justify-content-around ion-align-tems-center slide">
              <ion-col sizeLg="5" size="12">
                <ion-img class="slide__image" src="../../../assets/images/projects/bottom-wave.svg"></ion-img>
              </ion-col>
              <ion-col sizeLg="4.25" size="12">
                <ion-text class="ion-text-center">
                  <h2> Project Name</h2>
                </ion-text>
                <ion-text class="ion-text text-2 ion-margin-vertical">
                  <p>
                    I'm a Systems Development technician at Etec Sales Gomes, where I've gained a solid foundation,
                    particularly in Web Development. I am consistently seeking to broaden my skills through various
                    courses
                    and videos, valuing continual personal and professional growth by learning from each experience.
                  </p>
                </ion-text>

                <ion-row class="stacks ion-margin-vertical">
                  <ion-icon name="logo-angular"></ion-icon>
                  <ion-icon name="logo-javascript"></ion-icon>
                </ion-row>
                <ion-row class="ion-margin-vertical">
                  <ion-button>
                    View Site
                  </ion-button>
                  <ion-button>
                    View Code
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
          <div class="swiper-slide">
            <ion-row class="ion-justify-content-around ion-align-tems-center slide">
              <ion-col sizeLg="5" size="12">
                <ion-img class="slide__image" src="../../../assets/images/projects/bottom-wave.svg"></ion-img>
              </ion-col>
              <ion-col sizeLg="4.25" size="12">
                <ion-text class="ion-text-center">
                  <h2> Project Name</h2>
                </ion-text>
                <ion-text class="ion-text text-2 ion-margin-vertical">
                  <p>
                    I'm a Systems Development technician at Etec Sales Gomes, where I've gained a solid foundation,
                    particularly in Web Development. I am consistently seeking to broaden my skills through various
                    courses
                  </p>
                </ion-text>

                <ion-row class="stacks ion-margin-vertical">
                  <ion-icon name="logo-angular"></ion-icon>
                  <ion-icon name="logo-javascript"></ion-icon>
                </ion-row>
                <ion-row class="ion-margin-vertical">
                  <ion-button>
                    View Site
                  </ion-button>
                  <ion-button>
                    View Code
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </ion-col>
  </ion-row>
</div>
